:root {
  --background-color: #f2d492; /* 기본 배경 색상 */
  --foreground-color: var(--foreground-color); /* 기본 전경 색상 */
  --primary-color: white; /* 강조 색상 */
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); /* 왼쪽으로 숨겨진 상태에서 시작 */
    opacity: 0; /* 시작할 때는 투명하게 */
  }
  to {
    transform: translateX(0); /* 최종적으로 원래 위치로 */
    opacity: 1; /* 완전 불투명하게 */
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); /* Start off-screen to the right */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Move to original position */
    opacity: 1;
  }
}

/*navbar list 해당 큰 칸*/
.navbar__list {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  margin-left: 5vw;
  height: 100vh;
  width: 20vw;
  font-weight: bold;
  color : var(--primary-color);
  border-right: 1px solid var(--foreground-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.navbar__list__item.selected {
  background-color: var(--foreground-color); 
  color: var(--background-color);
}

/*navbar 아이템*/
.navbar__list__item {
  display: flex;
  flex-direction: row;
    cursor: pointer;
    padding: 1rem;
    height: 3rem;
    justify-content: space-between;
    transition: all 0.3s;
    border-bottom: 1px solid var(--foreground-color);
    &:hover {
      background-color: var(--foreground-color);
    }
  animation: slideInFromLeft 0.3s ease-out forwards; /* 애니메이션 적용 */
}

.icon__arrow__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  color: var(--foreground-color);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 0.6;
  }
}

/* Container for each question */
.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Container for the question title and date */
.question-title-container {
  display: flex;
  flex-direction: row;
}

/* Style for the date next to the question title */
.question-date {
  margin-left: 1vw;
  padding-top: 0.6vh;
  font-size: 0.7rem;
  font-weight: normal;
}

/* Subtitle container, for the class name of the question */
.sub-title-container {
  padding-top: 0.3rem;
  font-weight: normal;
  font-size: 0.8rem;
}

/* The add new question icon container */
.icon-container {
  display: flex;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--background-color);
  background-color: var(--foreground-color);
  border-radius: 20rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-container:hover {
  opacity: 0.6;
}
